# MongoDB Atlas 연결 정보
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/?retryWrites=true&w=majority

# 서버 설정
PORT=3000
NODE_ENV=development

# 데이터베이스 이름
JOB_DATA_DB=job_data
SURVEY_QUESTIONS_DB=survey_questions
SURVEY_DATA_DB=survey_data 